.App {
  text-align: center;
}
  

.todo-header{
  margin : 2px 0 0 4px;
  border-radius: 30px;
  border-radius: 4px;
  font-size: 25px;
  color: white;
  font-weight: lighter;
}

.div-main{
  border-left:1px solid black; 
}
.App-header {
  background-color: #4E6568;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.ul-in {
    list-style-type: none;
    font-size: 25px;
    font-weight: lighter;  
    padding: 0;
}




